.cardlist {
  display: grid;
  margin: 2rem auto;
  width: 85vw;
  grid-template-columns: repeat(4, 1fr);
  gap: 1em;
  transition: 0.3s all;
}

.cardlist:hover > *:not(:hover) {
  transform: scale(0.98);
}
